$background-color: #efefef;
$text-color: #ffffff;

.dropzone-previews {
  min-height: 10rem;
  margin: 0;
  .col {
    max-width: 10rem;
    padding: 0.5rem;
    .preview {
      background: $background-color;
      border-radius: .5rem;
      transition: .5s -webkit-filter;
      &:hover {
        img {
          -webkit-transform: scale(1.05, 1.05);
          -moz-transform: scale(1.05, 1.05);
          -ms-transform: scale(1.05, 1.05);
          -o-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
          -webkit-filter: blur(.5rem);
          filter: blur(.5rem);
        }
        &+.info {
          opacity: 1;
        }
      }
      img {
        width: 9rem;
        height: 9rem;
      }
    }
    .info {
      opacity: 0;
      .size {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        font-size: .5rem;
        background: #1aa179;
        display: inline-block;
        color: $text-color;
        padding: 0.25rem;
        border-radius: 0.75rem;
        margin-bottom: 0;
      }
      .name {
        position: absolute;
        top: 3rem;
        left: 1rem;
        width: 8rem;
        max-height: 3rem;
        font-size: .75rem;
        background: #1aa179;
        display: inline-block;
        color: $text-color;
        padding: 0.2rem;
        border-radius: 0.25rem;
        margin-bottom: 0;
      }
    }
    .dz-remove-icon {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      font-size: 2rem;
      text-align: center;
    }
    .progress {
      position: absolute;
      bottom: 2rem;
      left: 1rem;
      width: 8rem;
      border-radius: 0.5rem;
      opacity: .75;
      border: $text-color solid 1px;
    }
  }
  .fileinput-button {
    display: block;
    font-size: 6rem;
    background: $background-color;
    color: #666666;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
[data-bs-theme=dark] {
  .dropzone-previews {
    .fileinput-button {
      border: #495057 1px solid;
      color: #d9d9d9;
      background-color: #343a40;
    }
  }
}
.none {
  display: none;
}

.dz-remove {
  position: absolute;
  top: -0.5rem;
  right: -0.25rem;
  width: 2rem;
  height: 2rem;
  background: #ddd;
  border: #fefefe solid 1px;
  border-radius: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
.img-container{
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
  max-height: 497px;
  min-height: 200px;
  & > img {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .img-container {
    min-height: 300px;
  }
}
